<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Clock Algorithm</h1>
    <div *ngIf="found" class="alert alert-success" role="alert">
      Please enter an input for search from data.txt file
    </div>
    <div *ngIf="!found" class="alert alert-danger" role="alert">
      Input key is not found in the data.txt file
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="searchKey" type="text" class="form-control" placeholder="Enter a search key"
             aria-label="Enter a search key" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchFromFile()">Search</button>
      </div>
    </div>
    <div class="row">
      <div class="top-block">
        {{charFrames[0]}} | {{frames[0]}}
      </div>
      <div *ngIf="arrow1" class="top-arrow" style="font-size:5em;">
        <i class="fa fa-arrow-up"></i>
      </div>
      <div class="right-block">
        {{charFrames[1]}} | {{frames[1]}}
      </div>
      <div *ngIf="arrow2" class="right-arrow" style="font-size:5em;">
        <i class="fa fa-arrow-right"></i>
      </div>
      <div class="bottom-block">
        {{charFrames[2]}} | {{frames[2]}}
      </div>
      <div *ngIf="arrow3" class="bottom-arrow" style="font-size:5em;">
        <i class="fa fa-arrow-down"></i>
      </div>
      <div class="left-block">
        {{charFrames[3]}} | {{frames[3]}}
      </div>
      <div *ngIf="arrow4" class="left-arrow" style="font-size:5em;">
        <i class="fa fa-arrow-left"></i>
      </div>
    </div>
  </div>
</div>
